@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;900&display=swap);

* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

body::-webkit-scrollbar {
  background: black !important;
}

.stars,
.twinkling {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.title {
  margin: auto;
  padding: 2%;
  width: 70vw;
}

.below-title {
  width: 99vw;
  height: 100%;
  background-image: url("./images/BG.svg");
  background-size: cover;
  border: 3px solid rgb(0, 0, 0, 1);
}

.subtitle-box {
  /* position: absolute;
  top: 200px;
  width: 70vw;
  padding: 50px;
  text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15%;
}

.subtitle-text {
  font: normal bold 4vw Tahoma;
  color: white;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  transition: 1s;
  letter-spacing: 0.3em;
  transform: skewX(20deg);
}

.codebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #252931;
  width: 70vw;
  color: white;
}

.language-javascript {
  position: relative;
  font-size: 2vw;
}

.import-color {
  color: rgb(250, 129, 129);
}

.imported-components-color {
  color: darkorange;
}

.components-color {
  color: darkred;
}

.props-color {
  color: darkgoldenrod;
}

.paragraph {
  position: relative;
  width: 80vw;
  margin: auto;
  color: white;
}

h1 {
  font: normal bold 3vw Inter;
}

h2 {
  font: normal 3vw Inter;
}

.CardsContainer {
  display: flex;
}

#FirstSection , #SecondSection{
  height: 100vh;
}

#Footer{
  background-color: #000;
  width: 99vw;
  border: 3px solid black;
}

.subtitle-text:hover::after {
  content: attr(data-text);
  transform: skewX(20deg);
  position: absolute;
  left: 10px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: noise1 2s infinite linear alternate-reverse;
}

.subtitle-text:hover::before {
  content: attr(data-text);
  position: absolute;
  left: 10px;
  text-shadow: 3px 0 red;
  top: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: noise2 15s infinite linear alternate-reverse;
}

@keyframes noise1 {
  0% {
    clip-path: inset(6% 0 42% 0);
  }
  5% {
    clip-path: inset(59% 0 29% 0);
  }
  10% {
    clip-path: inset(93% 0 4% 0);
  }
  15% {
    clip-path: inset(100% 0 1% 0);
  }
  20% {
    clip-path: inset(85% 0 15% 0);
  }
  25% {
    clip-path: inset(50% 0 18% 0);
  }
  30% {
    clip-path: inset(67% 0 16% 0);
  }
  35% {
    clip-path: inset(43% 0 48% 0);
  }
  40% {
    clip-path: inset(37% 0 9% 0);
  }
  45% {
    clip-path: inset(91% 0 7% 0);
  }
  50% {
    clip-path: inset(2% 0 72% 0);
  }
  55% {
    clip-path: inset(17% 0 17% 0);
  }
  60% {
    clip-path: inset(13% 0 85% 0);
  }
  65% {
    clip-path: inset(18% 0 38% 0);
  }
  70% {
    clip-path: inset(12% 0 88% 0);
  }
  75% {
    clip-path: inset(42% 0 31% 0);
  }
  80% {
    clip-path: inset(95% 0 2% 0);
  }
  85% {
    clip-path: inset(59% 0 8% 0);
  }
  90% {
    clip-path: inset(24% 0 44% 0);
  }
  95% {
    clip-path: inset(57% 0 5% 0);
  }
  100% {
    clip-path: inset(93% 0 3% 0);
  }
}

@keyframes noise2 {
  0% {
    clip-path: inset(38% 0 58% 0);
 }
  5% {
    clip-path: inset(29% 0 27% 0);
 }
  10% {
    clip-path: inset(56% 0 21% 0);
 }
  15% {
    clip-path: inset(37% 0 19% 0);
 }
  20% {
    clip-path: inset(14% 0 30% 0);
 }
  25% {
    clip-path: inset(83% 0 18% 0);
 }
  30% {
    clip-path: inset(31% 0 66% 0);
 }
  35% {
    clip-path: inset(91% 0 5% 0);
 }
  40% {
    clip-path: inset(96% 0 2% 0);
 }
  45% {
    clip-path: inset(77% 0 5% 0);
 }
  50% {
    clip-path: inset(1% 0 67% 0);
 }
  55% {
    clip-path: inset(74% 0 7% 0);
 }
  60% {
    clip-path: inset(57% 0 27% 0);
 }
  65% {
    clip-path: inset(51% 0 29% 0);
 }
  70% {
    clip-path: inset(1% 0 60% 0);
 }
  75% {
    clip-path: inset(39% 0 35% 0);
 }
  80% {
    clip-path: inset(53% 0 6% 0);
 }
  85% {
    clip-path: inset(63% 0 17% 0);
 }
  90% {
    clip-path: inset(19% 0 1% 0);
 }
  95% {
    clip-path: inset(21% 0 10% 0);
 }
  100% {
    clip-path: inset(21% 0 58% 0);
 }
}